@model List<Reservation>

@{
    ViewData["Title"] = "MyApprovalReservations";
    Layout = "~/Areas/Members/Views/Shared/_UserLayout.cshtml";
}

<h1>Onay Bekleyen Rezervasyonlar</h1>
<hr />
<div class="container">
    @if (Model.Count < 1)
    {
        <h5 class="alert alert-warning">Şuanda Gösterilecek Bir Rezervasyon Yok.</h5>
    }
    else
    {
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Lokasyon</th>
                <th>Kişi Sayısı</th>
                <th>Rezervasyon Tarihi</th>
                <th>Durum</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ReservationId</td>
                    <td>@item.Destination.City</td>
                    <td>@item.PersonCount</td>
                    <td>@item.ReservationDate</td>
                    <td>@item.Status</td>
                </tr>
            }
        </table>
    }

</div>


