@model List<Reservation>

@{
    ViewData["Title"] = "Geçmiş Rezervasyonlarım";
    Layout = "~/Areas/Members/Views/Shared/_UserLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Geçmiş Rezervasyonlarım</h6>
            </div>
            <div class="card-body">
                <div class="container">
                    @if (Model.Count < 1)
                    {
                        <h5 class="alert alert-warning">Şuanda Gösterilecek Bir Rezervasyon Yok.</h5>
                    }
                    else
                    {
                        <table class="table table-hover">
                            <tr>
                                <th>#</th>
                                <th>Lokasyon</th>
                                <th>Kişi Sayısı</th>
                                <th>Rezervasyon Tarihi</th>
                                <th>Durum</th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ReservationId</td>
                                    <td>@item.Destination.City</td>
                                    <td>@item.PersonCount</td>
                                    <td>@item.ReservationDate</td>
                                    <th>@item.Status</th>
                                </tr>
                            }
                        </table>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

