@model List<Destination>

<div class="col-12 mt-4">
    <div class="card mb-4">
        <div class="card-header pb-0 p-3">
            <h6 class="mb-1">Turlar</h6>
            <p class="text-sm">Son Eklenen Rotalar</p>
        </div>
        <div class="card-body p-3">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-xl-3 col-md-6 mb-xl-0 mb-4">
                        <div class="card card-blog card-plain">
                            <div class="position-relative">
                                <a class="d-block shadow-xl border-radius-xl">
                                    <img src="@item.Image" alt="img-blur-shadow" class="img-fluid shadow border-radius-xl" style="object-fit:cover; height:285px;">
                                </a>
                            </div>
                            <div class="card-body px-1 pb-0">
                                <p class="text-gradient text-dark mb-2 text-sm">@item.DayNight - @item.Price.ToString("c")</p>
                                <a href="javascript:;">
                                    <h5>
                                        @item.City
                                    </h5>
                                </a>
                                <p class="mb-4 text-sm">
                                    @item.Description
                                </p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <a href="/Destination/DestinationDetails/@item.DestinationId" class="btn btn-outline-primary btn-sm mb-0" target="_blank">Sitede Gör</a>
                                    <div class="avatar-group mt-2">
                                        <a href="/Guide/Index/" class="avatar avatar-m rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="@item.Guide.Name" target="_blank">
                                            <img alt="Image placeholder" src="@item.Guide.Image">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
              
            </div>
        </div>
    </div>
</div>