@model List<Guide>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Renk seçenekleri için */
.slider {
    background-color: #ccc; /* Kapalı rengi */
}

.slider:before {
    background-color: white; /* Kayar buton rengi */
}

input:checked + .slider {
        background-color: #FF8911; /* Açık rengi */
}

</style>
<h1>Rehberler</h1>
<hr />
<div class="container">

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Görsel</th>
                <th>Ad Soyad</th>
                <th>Açıklama</th>
                <th>Durum</th>
                <th>Sil</th>
                <th>Düzenle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.GuideId</td>
                    <td>
                        <div class="avatar flex-shrink-0 me-3">
                            <img src="@item.Image" alt="User" class="rounded" />
                        </div>
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    @if(item.Status)
                    {
                        <td>
                            <label class="switch">
                                <a href="/Admin/Guide/ChangeToFalse/@item.GuideId">
                                    <input type="checkbox" @(item.Status ? "checked" : "") disabled>
                                    <span class="slider"></span>
                                </a>
                            </label>
                        </td>
                    }
                    else
                    {
                        <td>
                            <label class="switch">
                                <a href="/Admin/Guide/ChangeToTrue/@item.GuideId">
                                    <input type="checkbox" @(item.Status ? "checked" : "") disabled>
                                    <span class="slider"></span>
                                </a>
                            </label>
                        </td>
                    }
                
                    <td><a href="/Admin/Guide/DeleteGuide/@item.GuideId" class="btn btn-danger btn-sm">Sil</a></td>
                    <td><a href="/Admin/Guide/EditGuide/@item.GuideId" class="btn btn-warning btn-sm">Düzenle</a></td>
                </tr>
            }

        </tbody>
    </table>
    <div class="my-4">
        <a href="/Admin/Guide/CreateGuide/" class="btn btn-outline-primary">+ Yeni Rehber Ekle</a>
    </div>


</div>