@model List<Comment>

@{
    ViewData["Title"] = "Yorumlar";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}
<div class="col-xxl">
    <div class="card mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Yorumlar</h5>
        </div>
        <div class="card-body">
            <div class="container">

                <table class="table table-hover" id="tableSearch">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Destination</th>
                            @*  <th>Kullanıcı</th> *@
                            <th>Tarih</th>
                            <th>Durumu</th>
                            <th>Yorum</th>
                            <th>Sil</th>
                            @*   <th>Güncelle</th> *@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            count++;
                            <tr>
                                <td>@count</td>
                                <td>@item.DEstination.City</td>
                                @*   <td>@item.CommentUser</td> *@
                                <td>@item.CommentDate.ToString("dd MMMM yyyy HH:mm")</td>
                                <td>@item.CommentState</td>
                                <td>@* <a href="/Destination/DestinationDetails/@item.DestinationId" class="btn btn-primary btn-sm">Sitede Gör</a >*@Yorum Ayrıntısı</td>
                                <td><a href="/Admin/Comment/DeleteComment/@item.CommentId" class="btn btn-danger btn-sm">Sil</a></td>
                                @*  <td><a href="/Admin/Comment/UpdateComment/@item.CommentId" class="btn btn-warning btn-sm">Güncelle</a></td> *@
                            </tr>
                        }

                    </tbody>
                </table>
                @*   <div class="my-4">
                <a href="/Admin/Destination/AddDestination/" class="btn btn-outline-primary">Yeni Tur Rotası Oluştur</a>
                </div>
                *@

            </div>
        </div>
    </div>
</div>


